<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <link href="style.css" rel="stylesheet" type="text/css">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortLy</title>
  </head>
  <body>
    <h1 class="ml-4">URL Shortener</h1>
    <form action="" method="POST">
      <div class="flex mb-4">
        <div>
          <label class="sr-only" for="fullURL">Full URL</label>
          <input class="mr-4 ml-4" type="url" name="fullURL" id="fullURL" placeholder="Full URL">
        </div>

      <label class="sr-only" for="shortenedURL">Shortened URL</label>
      <input class="ml-4" type="url" name="shortenedURL" id="shortenedURL" placeholder="Shortened URL">
      <button class="btn btn-blue ml-4" type="Submit" >Register</button>
        </div>
      <table class="table-fixed">
        <thead>
          <tr>
            <th class="w-1/2 px-4 py-2">Full URL</th>
            <th class="w-3/4 px-4 py-2">Shortened URL</th>
            <th class="w-1/4 px-4 py-2">Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2">Intro to CSS</td>
            <td class="border px-4 py-2">Adam</td>
            <td class="border px-4 py-2">858</td>
          </tr>
        </tbody>
      </table>

      
    </form>
    
  </body>
</html>
